<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet-mapping>
        <servlet-name>servlet_emails</servlet-name>
        <url-pattern>/servlet_emails</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet>
        <servlet-name>Productos</servlet-name>
        <jsp-file>/Productos.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>servlet_emails</servlet-name>
        <servlet-class>Controllers.servlet_emails</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Productos</servlet-name>
        <url-pattern>/articulos-disponibles</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Home</servlet-name>
        <jsp-file>/index.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Contacto</servlet-name>
        <jsp-file>/Contacto.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Contacto</servlet-name>
        <url-pattern>/contacto</url-pattern>
    </servlet-mapping>
    <!--Mapeo para paginas de administrador-->
    <!--Login-->
    <servlet>
        <servlet-name>Admin</servlet-name>
        <jsp-file>/Login.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Admin</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <!--Pantalla Principal-->
    <servlet>
        <servlet-name>Principal</servlet-name>
        <jsp-file>/Principal.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Principal</servlet-name>
        <url-pattern>/home-admin</url-pattern>
    </servlet-mapping>
    <!--Products Managment -->
    <servlet>
        <servlet-name>ProductosManagment</servlet-name>
        <jsp-file>/Productos-admin.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductosManagment</servlet-name>
        <url-pattern>/products-managment-admin</url-pattern>
    </servlet-mapping>
    <!--Marcas Managment-->
    <servlet>
        <servlet-name>MarcasManagment</servlet-name>
        <jsp-file>/Marcas-admin.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>MarcasManagment</servlet-name>
        <url-pattern>/marcas-managment-admin</url-pattern>
    </servlet-mapping>
    <!--Category Managment-->
    <servlet>
        <servlet-name>CategoryManagment</servlet-name>
        <jsp-file>/Category-admin.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>CategoryManagment</servlet-name>
        <url-pattern>/categories-managment-admin</url-pattern>
    </servlet-mapping>
    <!--Images Managment-->
    <servlet>
        <servlet-name>ImagesManagment</servlet-name>
        <jsp-file>/Imagenes-admin.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ImagesManagment</servlet-name>
        <url-pattern>/images-managment-admin</url-pattern>
    </servlet-mapping>
</web-app>
