.inner p{
    color: white;
}
#cerrarsesion{
    border: outset;
    background-color: #3c3b3b;
    color: white;
    border-radius: 10px;
}
.dropdown{
    color: black;
}
#btn_sesion{
    width: 300px;
    height: auto;
}
#btn_sesion:hover{
    color: #000000;
}   
#nombre_sesion{
    margin: 4px 30px;
}
#dropdown_menu{
    width: 300px;
}
#tabla55{
    z-index: 1500;
    position: relative;
    color: white;
    background-color: #868181;
}

.form-group .form-control{
    color:#FFF;
    background-color: transparent; 
}
.form-control[readonly]{
    color:#FFF;
    background-color: transparent;
}
.modal{
    background-color: transparent;
}
.modal-content{
    background-color: transparent;
}
.table td :hover{
    background-color: #3e4147;
    cursor: pointer;
}
.table tbody tr:nth-child(2n + 1){
    background-color: transparent;
}
.td{
    color:white;
}
a {
color:wheat;
}
input[type="checkbox"], input[type="radio"]{
    border-color: white;
    background-color: wheat;
}